{%- case include.organization -%} {%- when "waterloo" -%}
<img class="affiliation-logo" src="https://uwaterloo.ca/profiles/uw_base_profile/themes/uw_fdsu_theme_resp/icon.svg" alt="" aria-hidden="true" />
{%- when "tenstorrent" -%}
<img class="affiliation-logo" src="https://tenstorrent.com/icon.png?icon.37vex_3awjtbc.png" alt="" aria-hidden="true" />
{%- when "xilinx" -%}
<img class="affiliation-logo affiliation-logo-xilinx" src="{{ '/assets/img/affiliations/xilinx.svg' | relative_url }}" alt="" aria-hidden="true" />
{%- when "amd" -%}
<img class="affiliation-logo affiliation-logo-amd" src="https://cdn.simpleicons.org/amd/ED1C24" alt="" aria-hidden="true" />
{%- when "plunify" -%}
<img
  class="affiliation-logo affiliation-logo-wordmark affiliation-logo-plunify"
  src="{{ '/assets/img/affiliations/plunify.png' | relative_url }}"
  alt=""
  aria-hidden="true"
/>
{%- when "lattice" -%}
<img class="affiliation-logo" src="https://www.latticesemi.com/images/favicon.ico" alt="" aria-hidden="true" />
{%- when "ntu" -%}
<img class="affiliation-logo affiliation-logo-ntu" src="{{ '/assets/img/affiliations/ntu-crest.png' | relative_url }}" alt="" aria-hidden="true" />
{%- endcase -%}
