{%- assign organization = include.name | downcase -%}
<span class="cv-org-logo cv-org-logo-{{ organization }}" aria-hidden="true">
  {%- case organization -%} {%- when "waterloo" -%}
  <img src="{{ '/assets/img/organizations/waterloo.svg' | relative_url }}" alt="" />
  {%- when "caltech" -%}
  <img src="{{ '/assets/img/organizations/caltech.png' | relative_url }}" alt="" />
  {%- when "penn" -%}
  <img src="{{ '/assets/img/organizations/penn.svg' | relative_url }}" alt="" />
  {%- when "ntu" -%}
  <img src="{{ '/assets/img/affiliations/ntu-crest.png' | relative_url }}" alt="" />
  {%- when "imperial" -%}
  <img src="{{ '/assets/img/organizations/imperial.png' | relative_url }}" alt="" />
  {%- when "nserc" -%}
  <img src="{{ '/assets/img/organizations/nserc.png' | relative_url }}" alt="" />
  {%- when "mitacs" -%}
  <img src="{{ '/assets/img/organizations/mitacs.svg' | relative_url }}" alt="" />
  {%- when "huawei" -%}
  <img src="{{ '/assets/img/organizations/huawei.png' | relative_url }}" alt="" />
  {%- when "tenstorrent" -%}
  <img src="{{ '/assets/img/organizations/tenstorrent.png' | relative_url }}" alt="" />
  {%- when "xilinx" -%}
  <img src="{{ '/assets/img/affiliations/xilinx.svg' | relative_url }}" alt="" />
  {%- when "amd" -%}
  <img src="{{ '/assets/img/affiliations/amd-arrow.svg' | relative_url }}" alt="" />
  {%- when "plunify" -%}
  <img src="{{ '/assets/img/affiliations/plunify.png' | relative_url }}" alt="" />
  {%- when "lattice" -%}
  <img class="cv-org-logo-light" src="{{ '/assets/img/affiliations/lattice-mark.png' | relative_url }}" alt="" />
  <img class="cv-org-logo-dark" src="{{ '/assets/img/affiliations/lattice-mark-dark.png' | relative_url }}" alt="" />
  {%- endcase -%}
</span>
